.produto__container{
    width: 100%;
    max-width: 1200px;
    padding: 16px;
}

.produto__card__container{
    display: flex;
    flex-direction: row;
}
.produto__card__actions{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}