@import '~antd/dist/antd.css';

.main{
  height: 100vh;
}

.main__content{
  height: inherit;
}

.header{
  background-color: #f7f7f7;
  font-size: 16px;
  font-weight: 700;
  margin: auto;
}
.menu{
  background-color: #f7f7f7;
  padding: 16px;
}
.ant-layout-footer {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.menu__section{
  background-color: #f7f7f7;

}
