@import '~antd/dist/antd.css';


.main{
  height: 100vh;
  background-color: red;
}
.content__box{
  width: 100%
}

.main__content{
  height: inherit;
  background-color: #c6c6c6;
}

.header{
  background-color: #c6c6c6;
  font-size: 32px;
  font-weight: 700;
  margin: auto;
}
.menu{
  background-color: rgb(198, 198, 198);
  padding: 16px;
}
.ant-layout-footer {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background-color: rgba(198, 198, 198, 0);
  opacity: 0.5;
}
.menu__section{
  background-color: rgb(199, 240, 199);
  border-radius: 15px;
  padding: 15px;



}
